<%-include('partials/header')-%>
<h1>HOME</h1>
<p><%=para1%></p>
<% console.log(posts)%>
<%for(var i=0;i<posts.length;i++){%>
   <h1><%=posts[i].title%></h1> 
   <p><%=posts[i].content.substring(1,100)+"..."%>
      <a href="/posts/<%=posts[i].title%>">Read More</a></p>
<%} %>
<%-include('partials/footer')-%>


